<div class="col-xs-10">
    <ol class="breadcrumb">
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li class="active">shorts</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let u of produkList">
                <div class="thumbnail">
                    <img style="height: 200px; width: 200px;" src="{{u.gambar}}" class="img-responsive" alt="">
                    <div class="post-content">
                        <a [routerLink]="['/detail', u._id]">
                            <p style="text-align: center; color: black; font-size: 18px; margin-top: 10px;">{{u.nama}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>