.checkout{
    background-color:white;
    border: 2px solid black;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom : 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}